<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Edit Product</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <a class="navbar-brand" href="/homepage">
      <img
        src="../static/img/mobile-hour-logo.png"
        alt="Mobile Hour Logo"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>

    <div class="container my-5">
      <h1 class="text-center my-5">Edit Product</h1>
      <!-- notification -->
      <% if (typeof notification != "undefined") { %>
        <div class="position-fixed top-3 end-0 p-3" style="z-index: 5">
          <div
            class="alert alert-success alert-dismissible fade show notification"
            role="alert"
          >
            <%= notification %>
    
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        </div>
      <% } %>


        <!-- edit product form -->
    <div class="container-md border border-warning p-5 shadow rounded-3">
      <form action="/update-product/<%= product.product_id %>" method="POST">
        <div class="row">
          <div class="col-md-4 border-bottom">
            <!-- Product Information -->
            <div class="mb-3">
              <label for="product_name" class="form-label">Product Name:</label>
              <input
                type="text"
                class="form-control"
                name="product_name"
                id="product_name"
                value="<%= product.product_name %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="product_brand" class="form-label"
                >Product Brand:</label
              >
              <input
                type="text"
                class="form-control"
                name="product_brand"
                id="product_brand"
                value="<%= product.product_brand %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="color" class="form-label">Color:</label>
              <input
                type="text"
                class="form-control"
                name="color"
                id="color"
                value="<%= product.color %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Price:</label>
              <input
                type="number"
                class="form-control"
                name="price"
                id="price"
                value="<%= product.price %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="stock_quantity" class="form-label"
                >Stock Quantity:</label
              >
              <input
                type="number"
                class="form-control"
                name="stock_quantity"
                id="stock_quantity"
                value="<%= product.stock_quantity %>"
                required
              />
            </div>
          </div>
          <div class="col-md-4 py-4 border-start border-top border-bottom">
            <!-- Feature Information -->
            <div class="mb-3">
              <label for="weight" class="form-label">Weight:</label>
              <input
                type="number"
                class="form-control"
                name="weight"
                id="weight"
                value="<%= product.weight %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="dimensions" class="form-label">Dimensions:</label>
              <input
                type="text"
                class="form-control"
                name="dimensions"
                id="dimensions"
                value="<%= product.dimensions %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="OS" class="form-label">Operating System:</label>
              <input
                type="text"
                class="form-control"
                name="OS"
                id="OS"
                value="<%= product.os %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="screensize" class="form-label">Screen Size:</label>
              <input
                type="text"
                class="form-control"
                name="screensize"
                id="screensize"
                value="<%= product.screensize %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="resolution" class="form-label">Resolution:</label>
              <input
                type="text"
                class="form-control"
                name="resolution"
                id="resolution"
                value="<%= product.resolution %>"
                required
              />
            </div>
          </div>
          <div class="col-md-4 py-4 border-top border-end border-bottom">
            <div class="mb-3">
              <label for="chipset" class="form-label">Chipset:</label>
              <input
                type="text"
                class="form-control"
                name="chipset"
                id="chipset"
                value="<%= product.chipset %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="ram" class="form-label">RAM:</label>
              <input
                type="number"
                class="form-control"
                name="ram"
                id="ram"
                value="<%= product.ram %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="storage_capacity" class="form-label"
                >Storage Capacity:</label
              >
              <input
                type="text"
                class="form-control"
                name="storage_capacity"
                id="storage_capacity"
                value="<%= product.storage_capacity %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="battery_capacity" class="form-label"
                >Battery Capacity:</label
              >
              <input
                type="text"
                class="form-control"
                name="battery_capacity"
                id="battery_capacity"
                value="<%= product.battery_capacity %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="rear_camera" class="form-label">Rear Camera:</label>
              <input
                type="text"
                class="form-control"
                name="rear_camera"
                id="rear_camera"
                value="<%= product.rear_camera %>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="front_camera" class="form-label">Front Camera:</label>
              <input
                type="text"
                class="form-control"
                name="front_camera"
                id="front_camera"
                value="<%= product.front_camera %>"
                required
              />
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center py-3 border-bottom">
          <button class="btn btn-warning mx-1" type="submit">
            Update Product
          </button>
          <div class="text-center btn p-0 mx-1">
            <a href="/product_admin" class="btn btn-secondary">Back</a>
          </div>
        </div>
      </form>
    </div>
    </div>

    <%- include("partials/footer.ejs") %>
    
    <!-- partials for all scripts tag -->
    <%- include("partials/script.ejs") %>
  </body>
</html>
